
body {
    font-family: Arial, sans-serif;
    text-align: center;
}

svg {
    border: 1px solid #ccc;
    margin-top: 20px;
    background-color: #fff; 
}

#chart {
    display: flex;
    justify-content: center;
}

circle {
    transition: 0.3s;
}

circle:hover {
    opacity: 0.7;
    cursor: pointer;
}

/* --- TAMBAHAN UNTUK TEKS --- */
text {
    font-size: 12px;
    fill: #333;
    pointer-events: none; 
}


.sandwich-name {
    font-weight: bold;
    font-size: 14px;
}
