
.city-label {
    font-size: 11px;
    text-anchor: middle;
}


circle {
    transition: all 0.2s;
}

circle:hover {
    fill: orange;
    cursor: default;
}

#city-count {
    font-weight: bold;
    color: #2c3e50;
    margin-bottom: 10px;
}
